<div class="login-container">
    <h2>Login</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" formControlName="username" class="form-control"
                [ngClass]="{ 'is-invalid': (loginForm.get('username')?.touched || loginForm.get('username')?.dirty) && loginForm.get('username')?.invalid }" />
            <div *ngIf="(loginForm.get('username')?.touched || loginForm.get('username')?.dirty) && loginForm.get('username')?.errors"
                class="error-feedback">
                <small *ngIf="loginForm.get('username')?.errors?.['required']">Username is required.</small>
                <small *ngIf="loginForm.get('username')?.errors?.['pattern']">Username should not contain special
                    characters.</small>
            </div>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" formControlName="password" class="form-control"
                [ngClass]="{ 'is-invalid': (loginForm.get('password')?.touched || loginForm.get('password')?.dirty) && loginForm.get('password')?.invalid }" />
            <div *ngIf="(loginForm.get('password')?.touched || loginForm.get('password')?.dirty) && loginForm.get('password')?.errors"
                class="error-feedback">
                <small *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</small>
                <small *ngIf="loginForm.get('password')?.errors?.['minlength']">Password must be at least 8 characters
                    long.</small>
                <small *ngIf="loginForm.get('password')?.errors?.['pattern']">Password must contain at least one capital
                    letter and one numeric digit.</small>
            </div>
        </div>

        <button type="submit" class="btn-login">Login</button>
    </form>

    <div *ngIf="successMessage" class="alert alert-success">
        {{ successMessage }}
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
    </div>
</div>